@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Christian Bennett's Website"; //creates variables in this package that can be passed around from view to view

}


<!--Christian Bennett IS413 -->


    <h1>Christian Bennett</h1>

    <!--image and paragraph about my expectations-->
    <img src="img/astros.jpg" rotate="180" style="width:500px;height:350px;" />
    <p>I really want to learn how to become better at developing more dynamic web apps. I don't have a lot of experience with C# and I love to learn new programming languages so I am excited to learn the ins and outs of this new language.</p>

    <p>My Top Three Jobs:</p>
    <ul>
        <li>1. Baseball data analyst</li>
        <li>2. Software Developer for Amazon</li>
        <li>3. Web developer</li>
    </ul>

